.navbar-brand {
    font-size: x-large !important;
}

.modal-dialog {
    max-width: 100% !important;
}

.modal-header {
    border-bottom: none !important;
}

.modal-header p {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.increase-size {
    font-size: 1rem !important;
}

.increase-size3 {
    font-size: 3rem !important;
}

.modal-header p a {
    text-decoration: none;
    font-weight: bolder;
    color: black;
}

.modal-header:hover {
    background-color: azure;
}
